<contentbox boxtitle="InDB" disabled="!$ctrl.allele.annotation.frequencies.inDB">
    <cbbody>
        <frequency-details group="'inDB'" allele-path="$ctrl.allelePath"></frequency-details>
    </cbbody>
</contentbox>
