<contentbox
    boxtitle="HGMD Pro"
    title-url="{{ $ctrl.allele.urls.hgmd }}"
    disabled="!$ctrl.allele.annotation.external.HGMD"
>
    <cbbody>
        <p>{{ $ctrl.allele.annotation.external.HGMD.tag }}</p>
        <p>{{ $ctrl.allele.annotation.external.HGMD.disease }}</p>
        <p>{{ $ctrl.allele.annotation.external.HGMD.acc_num }}</p>
    </cbbody>
</contentbox>
